html, body{
  font-family: Helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#header{
  width: 960px;
  margin: auto;
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  margin-bottom: 10px;
}

h1,h2 {
  margin: 0px;
  font-weight: normal;
  font-family: Comic Sans MS, Helvetica, sans-serif;
}

h1 {
  padding-top: 10px;
  font-size: 32px;
}

h2 {
  font-size: 18px;
}

#result {
  width: 100%;
  height: calc(100% - 153px);
}

.input{
  text-indent: 3px;
  margin-left: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 340px;
  font-size: 18px;
  border-radius: 4px;
  background-color: #EBF3FF;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin-bottom: 5px;
}

.input_text_area{
  font-size: 12px;
}

.input:hover{
  background-color: #DBEAFF;
}

.input:focus{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  outline: 0;
  background-color: #F0F0F0;
}

#btn_send{
  position: relative;
  bottom: 2px;
  font-size: 12px;
}

#btn_advanced_search{
  position: relative;
  top: -30px;
  float: right;
  bottom: 2px;
  font-size: 12px;
}

#datepicker_to, #datepicker_from{
  width: 150px;
  font-size: 14px;
}

#advanced_search_elems_container{
  padding-left: 10px;
  padding-top: 2px;
}

#search_panel{
  margin-bottom:0;
  border: 1px solid rgba(0, 0, 0, .08);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, .08);
  background: rgba(0,0,0,.1);
}

#search_div, #advanced_search_container{
  width: 800px;
  margin: 0 auto;
}

#advanced_search_elems_container{
  width: 100%;
  height: 100%;
  display: none;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 4px;
  font-size: 14px;
}

#advance_search_box{
  width: 660px;
  height: 30px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

#list_articles, #tabs, #list_talks{
  width: 100%;
  height: 100%;
}

#titre{
  width: calc(100% - 10px);
  height: 30px;
  position: relative;
  top: 6px;
  left: 10px;
  font-size: 20px;
}

#tabs{
  float: left;
  width: 250px;
  margin-top: 5px;
  margin-left: 5px;
  height: calc(100% - 60px);
  border-radius: 6px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .2);
  overflow: hidden;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.tabs_expand{
  width: calc(100% - 15px) !important;
}

#articles, #talks{
  height: calc(100% - 30px);
  width: 100%;
  overflow-y: auto;
}

#tab_article{
  position: relative;
  float: left;
  width: calc(100% - 250px - 40px);
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  height: calc(100% - 60px);
  border-radius: 6px;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, .2);
  overflow: hidden;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

#detail_container{
  height: 100%;
  width: 100%;
  border-radius: 6px;
}

#article_head{
  position: relative;
  top: 10px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#contr_value{
  position: relative;
  top: 10px;
  margin-left: 10px;
}

#contr_survived{
  margin-left: 10px;
  position: relative;
  top: 15px;
  height: 30px;
}

#article_container{
  height: 100%;
  width: 100%;
}

#article{
  position: relative;
  left: 10px;
  right: 10px;
  padding-top: 10px;
  height: calc(100% - 40px);
  width: calc(100% - 10px);
  overflow: auto;
}

ins{
  background: #8EFF80 !important;
}

del{
  background: #FF8080 !important;
}

.sizediff_neg{
  color: #FF5E5E !important;
}

.list_articles_item, .list_talks_item{
  border: 1px solid rgba(0, 0, 0, .08);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, .08);
  border-radius: 8px;
  margin-bottom: 5px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  position: relative;
  top: 100%;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 3px;
}

.list_articles_item:hover{
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, .2);
}

.list_articles_item:active{
  opacity: .3;
}

.list_articles_item_title, .list_talks_item_title{
  margin-left: 10px;
  margin-top: 5px;
}

.list_articles_item_size{
  font-size: 12px;
  text-align: right;
  margin-right: 5px;
}

.list_articles_item_time{
  position: relative;
  top: -12px;
  font-size: 10px;
  margin-left: 5px;
}

.list_articles_item_size_diff{
  font-size: 12px;
  text-align: right;
  margin-right: 5px;
}

.list_talks_item_comment, .list_talks_item_link{
  font-size: 12px;
  margin-right: 5px;
  word-wrap: break-word;
}

#loading{
  margin: auto;
}

.ui-tabs .ui-tabs-nav li a{
  padding: 5px !important;
  font-size: 12px;
}

.ui-tabs-panel{
  padding: 0px !important;
}

.ui-tabs-nav{
  position: relative;
  top: -2px;
  padding-left: 2px !important;
  padding-bottom: 0px !important;
}
