<!DOCTYPE html>
<html lang="en" ng-app="grisouApp">
  <head>
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="app.js"></script>
    <title>GRISOU</title>
  </head>
  <body ng-controller="ContributionListCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">GRISOU</a>
        </div>
        <form class="navbar-form navbar-right" role="search">
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-link"></span>
            </span>
            <input class="form-control" ng-model="domain" placeholder="en.wikipedia.org" type="text">
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span>
            </span>
            <input class="form-control" ng-model="user" placeholder="Nom d'utilisateur" type="text">
          </div>
          <button class="btn btn-primary" ng-click="search(domain, user)" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </form>
      </div>
    </nav>
    <div class="container">
      <form role="form">
        <div class="form-group">
          <input class="form-control" ng-model="query" placeholder="Search contributions" type="text">
        </div>
      </form>
      <div class="list-group">
        <a href="#" class="list-group-item" ng-class="{ 'active': $index == selectedIndex }" ng-click="itemClicked($index)" ng-repeat="contribution in contributions | filter:query">
          <span class="badge">{{ contribution.size }}</span>
          <h4 class="list-group-item-heading">{{ contribution.title }}</h4>
          <p class="list-group-item-text">{{ contribution.timestamp | date }}</p>
        </a>
      </div>
    </div>
  </body>
</html>
